{%extends 'head.html'%}
{%block body%}
<div class="container-fluid">
  <h1>All orders in our library</h1>
  <a class="btn btn-primary" href="{%url 'main'%}" role="button">Main page</a>
  <div class="row">
    <div class="col-lg-6">
      <h3>Orders by create</h3>
      {%for order in orders_create%}
      <p>User: <a href="{%url 'user info' order.user.id%}">{{order.user.first_name}}</a></p>
      <p>Ordered:<a href="{%url 'book info' order.book.id%}">{{order.book.name}}</a></p>
      <a class="btn btn-primary" href="{%url 'order info' order.id%}" role="button">Show info</a>
      {% endfor %}
    </div>
    <div class="col-lg-6">
      <h3>Orders by plated</h3>
      {%for order in orders_plated%}
      <p>User: <a href="{%url 'user info' order.user.id%}">{{order.user.first_name}}</a></p>
      <p>Ordered:<a href="{%url 'book info' order.book.id%}">{{order.book.name}}</a></p>
      <a class="btn btn-primary" href="{%url 'order info' order.id%}" role="button">Show info</a>
      {% endfor %}
    </div>
  </div>
</div>
{%endblock%}
