{% extends 'base.html' %}
{% load bootstrap4 %}

{% load render_table from django_tables2 %}

{%block content%}
    <h1>Here we can see all orders</h1>

    {% if filter %}
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
    {% endif %}

    {% render_table table %}
    <a class="btn btn-primary" href="{%url 'order_form' %}" role="button">Create order</a>
{%endblock%}
